<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <title>Lobby</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
        <style>
            body{
                font-family:Ubuntu,sans-serif;

            }
            .title{
                margin-bottom:20px;
            }
            .titlecontainer{
                border-radius: 5px;
                border-width: 5px;
                border-color: rgb(0, 255, 89);
                border-style:solid;
                width:20%;
                margin:auto;
                text-align: center;
            
            }

        </style>
    </head>
    <body>
        <div class="titlecontainer">
        <div class="title">
            AI trivia
        </div>
        <div class="buttoncontainer">
            <form action="/matchmaking">
                <select name="category">
                    <option value="geography">Geography</option>
                    <option value="history">History</option>
                    <option value="science">Science</option>
                </select>
                <input type="submit">
            </form>
        </div>

    </div>


</body>
</html>